<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springboot.mapper.UserMapper">

    <select id="list" resultType="com.example.springboot.entity.User">
        select id, username, nickname, password
        from user where 1 = 1
        <if test="nicename != null and nickname != ''">
            and nickname like cancat('%', #{nickname}, '%')
        </if>
    </select>

</mapper>